<div class="input-field" [class.input-field--error]="showError">
  @if (label()) {
    <label [for]="id()" class="input-field__label">
      {{ label() }}
    </label>
  }

  <div class="input-field__layout">
    <div class="input-field__wrapper">
      <input 
        [id]="id()"
        [name]="id()"
        [type]="type()" 
        [formControl]="control()" 
        [placeholder]="placeholder()"
        [attr.maxlength]="maxlength()"
        class="input-field__control">
    </div>
    
    <div class="input-field__action">
      <ng-content select="[action]"></ng-content>
    </div>
  </div>

  <div class="input-field__error-area">
    @if (showError) {
      <span class="input-field__error-text">
        @if (control().errors?.['required']) { This field is required }
        @if (control().errors?.['strictEmail']) { Enter a valid email address (e.g. name@domain.com) }
        @if (control().errors?.['minlength']) { At least {{ control().errors?.['minlength'].requiredLength }} characters required }
        @if (control().errors?.['invalidDateFormat']) { Format: YYYY-MM-DD }
        @if (control().errors?.['invalidDate']) { Invalid date }
        @if (control().errors?.['pastDate']) { Only future dates allowed }
      </span>
    }
  </div>
</div>
