@use '../../../styles/variables' as *;

:host {
  display: block;
  background-color: $color-bg-purple;
  min-height: calc(100vh - 100px - 189px);

  @include respond-below($bp-mobile) {
    min-height: calc(100vh - 70px - 140px);
  }
}

.legal-page {
  padding: 40px 0 ;
  color: $color-bg-white;
  font-family: $font-mulish;

  @include respond-below($bp-mobile) {
    padding: 24px 0;
  }

  &__title {
    font-family: $font-nerko-one;
    font-size: 4rem;
    color: $color-accent;
    margin-bottom: 56px;
    text-align: center;

    @include respond-below($bp-tablet) {
      font-size: 3rem;
      margin-bottom: 32px;
    }

    @include respond-below($bp-mobile) {
      font-size: 2.25rem;
      margin-bottom: 24px;
    }
  }

  &__section {
    margin-bottom: 40px;

    @include respond-below($bp-mobile) {
      margin-bottom: 24px;
    }
    
    h2 {
      font-size: 2rem;
      color: $color-primary;
      margin-bottom: 16px;
      font-weight: 700;

      @include respond-below($bp-tablet) {
        font-size: 1.5rem;
      }
    }

    p {
      line-height: 1.5;
    }

    address {
      font-style: normal;
      line-height: 1.5;
    }
  }
}