@use '../../../../styles/variables' as *;

.survey-card {
  background-color: $color-bg-card;
  border-top-right-radius: 80px;
  padding: 40px 24px;
  height: 300px;
  @include flex-layout(column, space-between, flex-start, 16px);
  transition: transform 0.3s ease, 
    box-shadow 0.2s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 12px 24px rgba(0,0,0,0.1);
    background-color: $color-bg-light-purple;
  }

  &__body {
    @include flex-layout(column, center, flex-start, 16px);
  }
  
  &__category {
    font-weight: 600;
    font-family: $font-mulish;
    color: $color-text-dark;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: $font-mulish;
    color: $color-text-dark;
  }
}