$color-bg-purple:  #35273A;
$color-bg-light-purple: #F4E9FB;
$color-bg-card: #FAF5FE;
$color-bg-light-purple-card: rgb(#d9d9d9, 8%);
$color-bg-white: #FEFDFF;
$color-primary: #FFCFA1;
$color-light-accent: #FEE9D4;
$color-accent: #FFB770;
$color-text-dark: #35273A;

$font-nokora: Nokora, sans-serif;
$font-mulish: Mulish, sans-serif;
$font-nerko-one: Nerko One, sans-serif;


@mixin flex-layout($direction: row, $justify: center, $align: center, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin absolute-pos($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}