<section class="hero">
  <div class="container hero__wrapper">
    <div class="hero__content">
      <h1 class="hero__title">
        Collect Feedback, <br>
        Unlock Ideas
      </h1>
      <p class="hero__description">
        Create and share surveys in minutes – from team events to workplace culture. 
        Collect opinions, engage your audience, and turn feedback into action.
      </p>
      <app-button variant="primary">New survey</app-button>
    </div>

    <div class="hero__visual">
      <div class="hero__visual-container">
        <img src="assets/img/mobile.png" class="hero__main-mobile" alt="Poll App Illustration">
        
        <img src="assets/svg/typing_bubble.svg" class="hero__icon hero__icon--typing" alt="">
        <img src="assets/svg/check.svg" class="hero__icon hero__icon--check" alt="">
        <img src="assets/svg/star.svg" class="hero__icon hero__icon--star" alt="">
        <img src="assets/svg/question_mark.svg" class="hero__icon hero__icon--question" alt="">
      </div>
    </div>
  </div>
</section>