<footer class="footer">
  <div class="container footer__wrapper">

    <div class="footer__section footer__section--links">
      <a href="https://github.com/lucasxgraf/poll-app" target="_blank" class="footer__link">GitHub</a>
      <a routerLink="/legal" class="footer__link">Legal Notice</a>
      <a routerLink="/privacy" class="footer__link">Pricacy policy</a>
    </div>

    <div class="footer__section footer__section--copyright">
      <p>© Lucas Graf 2026</p>
    </div>

    <div class="footer__section footer__section--logo">
      <img src="assets/logo/logo.svg" alt="Poll App Logo" class="footer__logo">
    </div>

  </div>
</footer>