@use '../../../../styles/variables' as *;

.header {
  height: 100px;
  width: 100%;
  background-color: $color-bg-purple;
  @include flex-layout(row, center, center);

  @include respond-below($bp-mobile) {
    height: 70px;
  }

  &__wrapper {
    @include flex-layout(row, space-between, center);
    width: 100%;
  }

  &__logo-area {
    @include flex-layout(row, center, center);
    transition: opacity 0.3s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__logo-img {
    height: 60px;
    width: auto;

    @include respond-below($bp-mobile) {
      height: 40px;
    }
  }

  &__action {
    @include flex-layout(row, center, center);
  }
}