@use '../../../../styles/variables' as *;

.ui-badge {
  --badge-bg: #{$color-primary};
  --badge-color: #{$color-text-dark};
  --badge-radius: 16px;
  --badge-padding: 8px 16px 8px 12px;
  --width: fit-content;

  @include flex-layout();
  
  padding: var(--badge-padding);
  background-color: var(--badge-bg);
  color: var(--badge-color);
  border-top-right-radius: var(--badge-radius);
  width: var(--width);
  
  font-family: 'Nokora', sans-serif;
  font-weight: 600;
  font-size: var(--badge-font-size);
  white-space: nowrap;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &--primary {
    --badge-bg: #{$color-accent};
  }

  &--secondary {
    --badge-bg: #{$color-light-accent}; 
  }
}

:host-context(.survey-card:hover) .ui-badge {
  background-color: $color-accent;
  color: $color-text-dark;
}