@use '../../../../styles/variables' as *;

.ui-badge {
  --badge-bg: #{$color-primary};
  --badge-color: #{$color-text-dark};
  --badge-radius: 16px;
  --badge-padding: 8px 16px 8px 12px;
  --width: fit-content;

  @include flex-center();
  
  padding: var(--badge-padding);
  background-color: var(--badge-bg);
  color: var(--badge-color);
  border-top-right-radius: var(--badge-radius);
  width: var(--width);
  
  font-family: 'Nokora', sans-serif;
  font-weight: 600;
  font-size: var(--badge-font-size);
  white-space: nowrap;

  &--published {
    --badge-bg: #{$color-accent};
    --badge-color: #{$color-text-dark};
  }

  &--draft {
    --badge-bg: #{$color-light-accent}; 
    --badge-color: #{$color-text-dark};
  }
}