<section class="auth">
  <div class="auth__card">
    <h1 class="auth__title">
      {{ isLoginMode() ? 'Welcome Back' : 'Create Account' }}
    </h1>
    
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="auth__form">
      
      <app-input-field
        id="email"
        label="Email Address"
        placeholder="your@example.com"
        type="email"
        [control]="emailCtrl"
        autocomplete="email">
      </app-input-field>

      <app-input-field
        id="password"
        label="Password"
        placeholder="Please enter your password"
        type="password"
        [control]="passCtrl"
        [autocomplete]="isLoginMode() ? 'current-password' : 'new-password'">
      </app-input-field>

      
      <div class="auth__actions">
        <app-button 
          type="submit" 
          variant="primary" 
          [disabled]="isLoading()">
          {{ isLoading() ? 'Loading...' : (isLoginMode() ? 'Login' : 'Sign Up') }}
        </app-button>

        <app-button 
          type="button" 
          variant="primary" 
          (click)="onGuestLogin()"
          [disabled]="isLoading()">
          Enter as Guest
        </app-button>
      </div>

      @if (errorMessage()) {
        <div class="auth__supabase-error auth__supabase-error--visible">
          {{ errorMessage() }}
        </div>
      }
    </form>

    <button type="button" class="auth__toggle-btn" (click)="toggleMode()">
      {{ isLoginMode() ? "Don't have an account? Sign up" : "Already have an account? Login" }}
    </button>
  </div>
</section>