@use './styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1rem;
}

html {
  color: white;
  font-family: $font-mulish;
}

@font-face {
  font-display: swap;
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/nokora-v34-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 500;
  src: url('../public/assets/fonts/nokora-v34-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 600;
  src: url('../public/assets/fonts/nokora-v34-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/nokora-v34-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 800;
  src: url('../public/assets/fonts/nokora-v34-latin-800.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 900;
  src: url('../public/assets/fonts/nokora-v34-latin-900.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Nerko One';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/nerko-one-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/mulish-v18-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: url('../public/assets/fonts/mulish-v18-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../public/assets/fonts/mulish-v18-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/mulish-v18-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url('../public/assets/fonts/mulish-v18-latin-800.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  src: url('../public/assets/fonts/mulish-v18-latin-900.woff2') format('woff2');
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;

  @include respond-below($bp-tablet) {
    padding: 0 16px;
  }

  @include respond-below($bp-mobile) {
    padding: 0 12px;
  }
}

h1, h2, h3, h4, p, span, label, li {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}