<section class="categories">
  <div class="container">
    
    <div class="categories__controls">
      <div class="categories__filter">
        <app-button 
          [variant]="currentFilter() === 'active' ? 'primary' : 'filter'" 
          (click)="setFilter('active')">
          Active survey
        </app-button>
        
        <app-button 
          [variant]="currentFilter() === 'past' ? 'primary' : 'filter'" 
          (click)="setFilter('past')">
          Past survey
        </app-button>
      </div>

      <div class="categories__sort">
        <div class="categories__dropdown">
          <app-button variant="tertiary" (click)="toggleDropdown()">
            {{ selectedCategory() }}
            <img src="assets/svg/arrow_drop_down.svg" alt="icon dropdown" class="categories__dropdown-icon" [class.categories__dropdown-icon--open]="isDropdownOpen()">
          </app-button>

          @if (isDropdownOpen()) {
            <ul class="categories__dropdown-menu">
              @for (category of categoryOptions(); track category) {
                <li class="categories__dropdown-item" (click)="selectCategory(category)">
                  {{ category }}
                </li>
              }
            </ul>
          }
        </div>
      </div>
    </div>

    <div class="categories__grid">
      @for (item of filteredSurveys(); track item.id) {
        <app-survey-card 
          [survey]="item" 
          variant="list">
        </app-survey-card>
      } @empty {
        <div class="categories__empty-state">
          <p>Currently there are no surveys in this category.</p>
        </div>
      }
    </div>

  </div>
</section>